/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto ;
}

:root{
   
        --div-fundo: #3a3838;
        --branca: #dbc6c6;
        --botao1: #198754;
        --botao2: #DC3545;
        --cor1: #D1E7DD;
        --cor2: #0D6EFD;
    
      
}

body{
    margin: 20px;
}